/*Default Body */
body {
  width:600px;
  height:500px;
  margin: 0;
  background-color: #5CDB95;
}

/* Default Navbar*/
.topnav {
  background-color: #5CDB95; 
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #05386B;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

 /*Default Header for Computer Screen*/

.header {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  
  transform: translate(-50%, -50%);
  text-align: center;
  border-bottom: 5px solid #fff;
  overflow: hidden;
  box-shadow: 0px 1px 0px rgba (0,0,0,.5);
  animation: reveal 2s linear forwards;
}
.header h1 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  display: block;
  color: #f1f1f1;
  font-size: 70px;
  text-shadow: 2px 2px 2px rgbpa(0,0,0,.5);
  text-transform: uppercase;
}

@keyframes reveal
{
    0% {
      width: 0px;
      height: 0px;
    }
    30% {
      width: 650px;
      height: 0px;
    }
    60% {
      width: 700px;
      height: 50px;
    }
    80% {
      width: 750px;
      height: 75px;
      box-shadow: 0px 1px 0px rgba (0,0,0,.5);

    }
    100% {
      width: 800px;
      height: 110px;
      box-shadow: 0px 5px 0px rgba (0,0,0,.5);
    }
}

/*Default Footer*/
.middle {
  position: absolute;
  top: 7%;
  left:42%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin:10px; 
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}

.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

/* Body for IPHONE 5 */

@media screen and (width: 320px) and (height: 568px) {
   body {
      width: 320px;
      height: 568px;
   }
}

/* NavBar for IPHONE 5 */

@media screen and (width: 320px) and (height: 568px) {
  .topnav {
     width: 320px;
     height: 568px;
  }
}

/* Header for IPHONE 5 */

@media screen and (width: 320px) and (height: 568px) {
  .header {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-bottom: 5px solid #fff;
    overflow: hidden;
    box-shadow: 0px 1px 0px rgba (0,0,0,.5);
    animation: reveal 2s linear forwards;
  }
  .header h1 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: block;
    color: #f1f1f1;
    font-size: 3em;
    text-shadow: 2px 2px 2px rgbpa(0,0,0,.5);
    text-transform: uppercase;
  }
  @keyframes reveal
  {
      0% {
        width: 0px;
        height: 0px;
      }
      30% {
        width: 250px;
        height: 0px;
      }
      60% {
        width: 250px;
        height: 50px;
      }
      80% {
        width: 250px;
        height: 100px;
        box-shadow: 0px 1px 0px rgba (0,0,0,.5);

      }
      100% {
        width: 250px;
        height: 150px;
        box-shadow: 0px 5px 0px rgba (0,0,0,.5);
      }
  }

}

/* Footer for IPHONE 5 */

@media screen and (width: 320px) and (height:568px) {
  .middle {
    position: absolute;
    top: 55%;
    left: 1%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  
  .btn {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #f1f1f1;
    margin:10px; 
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
  }
  
  .btn i {
    line-height: 70px;
    font-size: 26px;
    transition: 0.2s linear;
  }
  
  .btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  
  .btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  
  @keyframes aaa {
    0% {
      left: -110%;
      top: 90%;
    }
    50% {
      left: 10%;
      top: -30%;
    }
    100% {
      top: -10%;
      left: -10%;
    }
  }
}


/* Body for IPHONE 6/7/8 */

@media screen and (width: 375px) and (height: 667px) {
  body {
     width: 375px;
     height: 667px;
  }
}

/* NavBar for IPHONE 6/7/8 */

@media screen and (width: 375px) and (height: 667px) {
 .topnav {
    width: 375px;
    height: 667px;
 }
}

/* Header for IPHONE 6/7/8 */

@media screen and (width: 375px) and (height: 667px) {
 .header {
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   border-bottom: 5px solid #fff;
   overflow: hidden;
   box-shadow: 0px 1px 0px rgba (0,0,0,.5);
   animation: reveal 2s linear forwards;
 }
 .header h1 {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   display: block;
   color: #f1f1f1;
   font-size: 3em;
   text-shadow: 2px 2px 2px rgbpa(0,0,0,.5);
   text-transform: uppercase;
 }
 @keyframes reveal
 {
     0% {
       width: 0px;
       height: 0px;
     }
     30% {
       width: 250px;
       height: 0px;
     }
     60% {
       width: 250px;
       height: 50px;
     }
     80% {
       width: 250px;
       height: 100px;
       box-shadow: 0px 1px 0px rgba (0,0,0,.5);

     }
     100% {
       width: 250px;
       height: 150px;
       box-shadow: 0px 5px 0px rgba (0,0,0,.5);
     }
 }

}

/* Footer for IPHONE 6/7/8 */

@media screen and (width: 375px) and (height:667px) {
 .middle {
   position: absolute;
   top: 55%;
   left: 1%;
   transform: translateY(-50%);
   width: 100%;
   text-align: center;
 }
 
 .btn {
   display: inline-block;
   width: 70px;
   height: 70px;
   background: #f1f1f1;
   margin:10px; 
   border-radius: 30%;
   box-shadow: 0 5px 15px -5px #00000070;
   color: #3498db;
   overflow: hidden;
   position: relative;
 }
 
 .btn i {
   line-height: 70px;
   font-size: 26px;
   transition: 0.2s linear;
 }
 
 .btn:hover i{
   transform: scale(1.3);
   color: #f1f1f1;
 }
 
 .btn::before {
   content: "";
   position: absolute;
   width: 120%;
   height: 120%;
   background: #3498db;
   transform: rotate(45deg);
   left: -110%;
   top: 90%;
 }
 
 .btn:hover::before {
   animation: aaa 0.7s 1;
   top: -10%;
   left: -10%;
 }
 
 @keyframes aaa {
   0% {
     left: -110%;
     top: 90%;
   }
   50% {
     left: 10%;
     top: -30%;
   }
   100% {
     top: -10%;
     left: -10%;
   }
 }
}

/* Body for IPHONE 6/7/8 Plus */

@media screen and (width: 414px) and (height: 736px) {
  body {
     width: 414px;
     height: 736px;
  }
}

/* NavBar for IPHONE 6/7/8 Plus */

@media screen and (width: 414px) and (height: 736px) {
 .topnav {
    width: 414px;
    height: 736px;
 }
}

/* Header for IPHONE 6/7/8 Plus */

@media screen and (width: 414px) and (height: 736px) {
 .header {
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   border-bottom: 5px solid #fff;
   overflow: hidden;
   box-shadow: 0px 1px 0px rgba (0,0,0,.5);
   animation: reveal 2s linear forwards;
 }
 .header h1 {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   display: block;
   color: #f1f1f1;
   font-size: 3em;
   text-shadow: 2px 2px 2px rgbpa(0,0,0,.5);
   text-transform: uppercase;
 }
 @keyframes reveal
 {
     0% {
       width: 0px;
       height: 0px;
     }
     30% {
       width: 250px;
       height: 0px;
     }
     60% {
       width: 250px;
       height: 50px;
     }
     80% {
       width: 250px;
       height: 100px;
       box-shadow: 0px 1px 0px rgba (0,0,0,.5);

     }
     100% {
       width: 250px;
       height: 150px;
       box-shadow: 0px 5px 0px rgba (0,0,0,.5);
     }
 }

}

/* Footer for IPHONE 6/7/8 Plus */

@media screen and (width: 414px) and (height:736px) {
 .middle {
   position: absolute;
   top: 52%;
   left: 1%;
   transform: translateY(-50%);
   width: 100%;
   text-align: center;
 }
 
 .btn {
   display: inline-block;
   width: 70px;
   height: 70px;
   background: #f1f1f1;
   margin:10px; 
   border-radius: 30%;
   box-shadow: 0 5px 15px -5px #00000070;
   color: #3498db;
   overflow: hidden;
   position: relative;
 }
 
 .btn i {
   line-height: 70px;
   font-size: 26px;
   transition: 0.2s linear;
 }
 
 .btn:hover i{
   transform: scale(1.3);
   color: #f1f1f1;
 }
 
 .btn::before {
   content: "";
   position: absolute;
   width: 120%;
   height: 120%;
   background: #3498db;
   transform: rotate(45deg);
   left: -110%;
   top: 90%;
 }
 
 .btn:hover::before {
   animation: aaa 0.7s 1;
   top: -10%;
   left: -10%;
 }
 
 @keyframes aaa {
   0% {
     left: -110%;
     top: 90%;
   }
   50% {
     left: 10%;
     top: -30%;
   }
   100% {
     top: -10%;
     left: -10%;
   }
 }
}

/* Body for IPHONE X */

@media screen and (width: 375px) and (height: 812px) {
  body {
     width: 375px;
     height: 812px;
  }
}

/* NavBar for IPHONE X */

@media screen and (width: 375px) and (height: 812px) {
 .topnav {
    width: 375px;
    height: 812px;
 }
}

/* Header for IPHONE X */

@media screen and (width: 375px) and (height: 812px) {
 .header {
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   border-bottom: 5px solid #fff;
   overflow: hidden;
   box-shadow: 0px 1px 0px rgba (0,0,0,.5);
   animation: reveal 2s linear forwards;
 }
 .header h1 {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   display: block;
   color: #f1f1f1;
   font-size: 3em;
   text-shadow: 2px 2px 2px rgbpa(0,0,0,.5);
   text-transform: uppercase;
 }
 @keyframes reveal
 {
     0% {
       width: 0px;
       height: 0px;
     }
     30% {
       width: 250px;
       height: 0px;
     }
     60% {
       width: 250px;
       height: 50px;
     }
     80% {
       width: 250px;
       height: 100px;
       box-shadow: 0px 1px 0px rgba (0,0,0,.5);

     }
     100% {
       width: 250px;
       height: 150px;
       box-shadow: 0px 5px 0px rgba (0,0,0,.5);
     }
 }

}

/* Footer for IPHONE X */

@media screen and (width: 375px) and (height:812px) {
 .middle {
   position: absolute;
   top: 52%;
   left: 1%;
   transform: translateY(-50%);
   width: 100%;
   text-align: center;
 }
 
 .btn {
   display: inline-block;
   width: 70px;
   height: 70px;
   background: #f1f1f1;
   margin:10px; 
   border-radius: 30%;
   box-shadow: 0 5px 15px -5px #00000070;
   color: #3498db;
   overflow: hidden;
   position: relative;
 }
 
 .btn i {
   line-height: 70px;
   font-size: 26px;
   transition: 0.2s linear;
 }
 
 .btn:hover i{
   transform: scale(1.3);
   color: #f1f1f1;
 }
 
 .btn::before {
   content: "";
   position: absolute;
   width: 120%;
   height: 120%;
   background: #3498db;
   transform: rotate(45deg);
   left: -110%;
   top: 90%;
 }
 
 .btn:hover::before {
   animation: aaa 0.7s 1;
   top: -10%;
   left: -10%;
 }
 
 @keyframes aaa {
   0% {
     left: -110%;
     top: 90%;
   }
   50% {
     left: 10%;
     top: -30%;
   }
   100% {
     top: -10%;
     left: -10%;
   }
 }
}

/* Body for Pixel 2 XL */

@media screen and (width: 411px) and (height: 823px) {
  body {
     width: 411px;
     height: 823px;
  }
}

/* NavBar for Pixel 2 XL */

@media screen and (width: 375px) and (height: 823px) {
 .topnav {
    width: 411px;
    height: 823px;
 }
}

/* Header for Pixel 2 XL */

@media screen and (width: 411px) and (height: 823px) {
 .header {
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   border-bottom: 5px solid #fff;
   overflow: hidden;
   box-shadow: 0px 1px 0px rgba (0,0,0,.5);
   animation: reveal 2s linear forwards;
 }
 .header h1 {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   display: block;
   color: #f1f1f1;
   font-size: 3em;
   text-shadow: 2px 2px 2px rgbpa(0,0,0,.5);
   text-transform: uppercase;
 }
 @keyframes reveal
 {
     0% {
       width: 0px;
       height: 0px;
     }
     30% {
       width: 250px;
       height: 0px;
     }
     60% {
       width: 250px;
       height: 50px;
     }
     80% {
       width: 250px;
       height: 100px;
       box-shadow: 0px 1px 0px rgba (0,0,0,.5);

     }
     100% {
       width: 250px;
       height: 150px;
       box-shadow: 0px 5px 0px rgba (0,0,0,.5);
     }
 }

}

/* Footer for Pixel 2 XL */

@media screen and (width: 411px) and (height:823px) {
 .middle {
   position: absolute;
   top: 52%;
   left: 1%;
   transform: translateY(-50%);
   width: 100%;
   text-align: center;
 }
 
 .btn {
   display: inline-block;
   width: 70px;
   height: 70px;
   background: #f1f1f1;
   margin:10px; 
   border-radius: 30%;
   box-shadow: 0 5px 15px -5px #00000070;
   color: #3498db;
   overflow: hidden;
   position: relative;
 }
 
 .btn i {
   line-height: 70px;
   font-size: 26px;
   transition: 0.2s linear;
 }
 
 .btn:hover i{
   transform: scale(1.3);
   color: #f1f1f1;
 }
 
 .btn::before {
   content: "";
   position: absolute;
   width: 120%;
   height: 120%;
   background: #3498db;
   transform: rotate(45deg);
   left: -110%;
   top: 90%;
 }
 
 .btn:hover::before {
   animation: aaa 0.7s 1;
   top: -10%;
   left: -10%;
 }
 
 @keyframes aaa {
   0% {
     left: -110%;
     top: 90%;
   }
   50% {
     left: 10%;
     top: -30%;
   }
   100% {
     top: -10%;
     left: -10%;
   }
 }
}


/* Body for Galaxy S5 */

@media screen and (width: 360px) and (height: 640px) {
  body {
     width: 360px;
     height: 640px;
  }
}

/* NavBar for Galaxy S5 */

@media screen and (width: 360px) and (height: 640px) {
 .topnav {
    width: 360px;
    height: 640px;
 }
}

/* Header for Galaxy S5 */

@media screen and (width: 360px) and (height: 640px) {
 .header {
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   border-bottom: 5px solid #fff;
   overflow: hidden;
   box-shadow: 0px 1px 0px rgba (0,0,0,.5);
   animation: reveal 2s linear forwards;
 }
 .header h1 {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   display: block;
   color: #f1f1f1;
   font-size: 3em;
   text-shadow: 2px 2px 2px rgbpa(0,0,0,.5);
   text-transform: uppercase;
 }
 @keyframes reveal
 {
     0% {
       width: 0px;
       height: 0px;
     }
     30% {
       width: 250px;
       height: 0px;
     }
     60% {
       width: 250px;
       height: 50px;
     }
     80% {
       width: 250px;
       height: 100px;
       box-shadow: 0px 1px 0px rgba (0,0,0,.5);

     }
     100% {
       width: 250px;
       height: 150px;
       box-shadow: 0px 5px 0px rgba (0,0,0,.5);
     }
 }

}

/* Footer for Galaxy S5 */

@media screen and (width: 360px) and (height:640px) {
 .middle {
   position: absolute;
   top: 50%;
   left: 1%;
   transform: translateY(-50%);
   width: 100%;
   text-align: center;
 }
 
 .btn {
   display: inline-block;
   width: 70px;
   height: 70px;
   background: #f1f1f1;
   margin:10px; 
   border-radius: 30%;
   box-shadow: 0 5px 15px -5px #00000070;
   color: #3498db;
   overflow: hidden;
   position: relative;
 }
 
 .btn i {
   line-height: 70px;
   font-size: 26px;
   transition: 0.2s linear;
 }
 
 .btn:hover i{
   transform: scale(1.3);
   color: #f1f1f1;
 }
 
 .btn::before {
   content: "";
   position: absolute;
   width: 120%;
   height: 120%;
   background: #3498db;
   transform: rotate(45deg);
   left: -110%;
   top: 90%;
 }
 
 .btn:hover::before {
   animation: aaa 0.7s 1;
   top: -10%;
   left: -10%;
 }
 
 @keyframes aaa {
   0% {
     left: -110%;
     top: 90%;
   }
   50% {
     left: 10%;
     top: -30%;
   }
   100% {
     top: -10%;
     left: -10%;
   }
 }
}

/* Body for Pixel 2 */

@media screen and (width: 411px) and (height: 731px) {
  body {
     width: 411px;
     height: 731px;
  }
}

/* NavBar for Pixel 2 */

@media screen and (width: 411px) and (height: 731px) {
 .topnav {
    width: 411px;
    height: 731px;
 }
}

/* Header for Pixel 2 */

@media screen and (width: 411px) and (height: 731px) {
 .header {
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   border-bottom: 5px solid #fff;
   overflow: hidden;
   box-shadow: 0px 1px 0px rgba (0,0,0,.5);
   animation: reveal 2s linear forwards;
 }
 .header h1 {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   display: block;
   color: #f1f1f1;
   font-size: 3em;
   text-shadow: 2px 2px 2px rgbpa(0,0,0,.5);
   text-transform: uppercase;
 }
 @keyframes reveal
 {
     0% {
       width: 0px;
       height: 0px;
     }
     30% {
       width: 250px;
       height: 0px;
     }
     60% {
       width: 250px;
       height: 50px;
     }
     80% {
       width: 250px;
       height: 100px;
       box-shadow: 0px 1px 0px rgba (0,0,0,.5);

     }
     100% {
       width: 250px;
       height: 150px;
       box-shadow: 0px 5px 0px rgba (0,0,0,.5);
     }
 }

}

/* Footer for Pixel 2 */

@media screen and (width: 411px) and (height:731px) {
 .middle {
   position: absolute;
   top: 50%;
   left: 1%;
   transform: translateY(-50%);
   width: 100%;
   text-align: center;
 }
 
 .btn {
   display: inline-block;
   width: 70px;
   height: 70px;
   background: #f1f1f1;
   margin:10px; 
   border-radius: 30%;
   box-shadow: 0 5px 15px -5px #00000070;
   color: #3498db;
   overflow: hidden;
   position: relative;
 }
 
 .btn i {
   line-height: 70px;
   font-size: 26px;
   transition: 0.2s linear;
 }
 
 .btn:hover i{
   transform: scale(1.3);
   color: #f1f1f1;
 }
 
 .btn::before {
   content: "";
   position: absolute;
   width: 120%;
   height: 120%;
   background: #3498db;
   transform: rotate(45deg);
   left: -110%;
   top: 90%;
 }
 
 .btn:hover::before {
   animation: aaa 0.7s 1;
   top: -10%;
   left: -10%;
 }
 
 @keyframes aaa {
   0% {
     left: -110%;
     top: 90%;
   }
   50% {
     left: 10%;
     top: -30%;
   }
   100% {
     top: -10%;
     left: -10%;
   }
 }
}

/* Body for IPAD */

@media screen and (width: 768px) and (height: 1024px) {
  body {
     width: 768px;
     height: 1024px;
  }
}

/* NavBar for iPAD */

@media screen and (width: 768px) and (height: 1024px) {
 .topnav {
    width: 768px;
    height: 1024px;
 }
}

/* Header for iPAD */

@media screen and (width: 768px) and (height: 1024) {
 .header {
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   border-bottom: 5px solid #fff;
   overflow: hidden;
   box-shadow: 0px 1px 0px rgba (0,0,0,.5);
   animation: reveal 2s linear forwards;
 }
 .header h1 {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   display: block;
   color: #f1f1f1;
   font-size: 3em;
   text-shadow: 2px 2px 2px rgbpa(0,0,0,.5);
   text-transform: uppercase;
 }
 @keyframes reveal
 {
     0% {
       width: 0px;
       height: 0px;
     }
     30% {
       width: 250px;
       height: 0px;
     }
     60% {
       width: 250px;
       height: 50px;
     }
     80% {
       width: 250px;
       height: 100px;
       box-shadow: 0px 1px 0px rgba (0,0,0,.5);

     }
     100% {
       width: 250px;
       height: 150px;
       box-shadow: 0px 5px 0px rgba (0,0,0,.5);
     }
 }

}

/* Footer for IPAD */

@media screen and (width: 768px) and (height:1024px) {
 .middle {
   position: absolute;
   top: 50%;
   left: 1%;
   transform: translateY(-50%);
   width: 100%;
   text-align: center;
 }
 
 .btn {
   display: inline-block;
   width: 70px;
   height: 70px;
   background: #f1f1f1;
   margin:10px; 
   border-radius: 30%;
   box-shadow: 0 5px 15px -5px #00000070;
   color: #3498db;
   overflow: hidden;
   position: relative;
 }
 
 .btn i {
   line-height: 70px;
   font-size: 26px;
   transition: 0.2s linear;
 }
 
 .btn:hover i{
   transform: scale(1.3);
   color: #f1f1f1;
 }
 
 .btn::before {
   content: "";
   position: absolute;
   width: 120%;
   height: 120%;
   background: #3498db;
   transform: rotate(45deg);
   left: -110%;
   top: 90%;
 }
 
 .btn:hover::before {
   animation: aaa 0.7s 1;
   top: -10%;
   left: -10%;
 }
 
 @keyframes aaa {
   0% {
     left: -110%;
     top: 90%;
   }
   50% {
     left: 10%;
     top: -30%;
   }
   100% {
     top: -10%;
     left: -10%;
   }
 }
}

/* Footer for IPAD Pro*/

@media screen and (width: 1024px) and (height:1366px) {
 .middle {
   position: absolute;
   top: 50%;
   left: 1%;
   transform: translateY(-50%);
   width: 100%;
   text-align: center;
 }
 
 .btn {
   display: inline-block;
   width: 70px;
   height: 70px;
   background: #f1f1f1;
   margin:10px; 
   border-radius: 30%;
   box-shadow: 0 5px 15px -5px #00000070;
   color: #3498db;
   overflow: hidden;
   position: relative;
 }
 
 .btn i {
   line-height: 70px;
   font-size: 26px;
   transition: 0.2s linear;
 }
 
 .btn:hover i{
   transform: scale(1.3);
   color: #f1f1f1;
 }
 
 .btn::before {
   content: "";
   position: absolute;
   width: 120%;
   height: 120%;
   background: #3498db;
   transform: rotate(45deg);
   left: -110%;
   top: 90%;
 }
 
 .btn:hover::before {
   animation: aaa 0.7s 1;
   top: -10%;
   left: -10%;
 }
 
 @keyframes aaa {
   0% {
     left: -110%;
     top: 90%;
   }
   50% {
     left: 10%;
     top: -30%;
   }
   100% {
     top: -10%;
     left: -10%;
   }
 }
}

/* Body for Surface Duo */

@media screen and (width: 450px) and (height: 600px) {
  body {
     width: 450px;
     height: 600px;
  }
}

/* NavBar for Surface Duo */

@media screen and (width: 450px) and (height: 600px) {
 .topnav {
    width: 450px;
    height: 600px;
 }
}

/* Header for Surface Duo */

@media screen and (width: 450px) and (height: 600px) {
 .header {
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   border-bottom: 5px solid #fff;
   overflow: hidden;
   box-shadow: 0px 1px 0px rgba (0,0,0,.5);
   animation: reveal 2s linear forwards;
 }
 .header h1 {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   display: block;
   color: #f1f1f1;
   font-size: 3em;
   text-shadow: 2px 2px 2px rgbpa(0,0,0,.5);
   text-transform: uppercase;
 }
 @keyframes reveal
 {
     0% {
       width: 0px;
       height: 0px;
     }
     30% {
       width: 250px;
       height: 0px;
     }
     60% {
       width: 250px;
       height: 50px;
     }
     80% {
       width: 250px;
       height: 100px;
       box-shadow: 0px 1px 0px rgba (0,0,0,.5);

     }
     100% {
       width: 250px;
       height: 150px;
       box-shadow: 0px 5px 0px rgba (0,0,0,.5);
     }
 }

}

/* Footer for Surface Duo */

@media screen and (width: 450px) and (height:600px) {
 .middle {
   position: absolute;
   top: 50%;
   left: 1%;
   transform: translateY(-50%);
   width: 100%;
   text-align: center;
 }
 
 .btn {
   display: inline-block;
   width: 70px;
   height: 70px;
   background: #f1f1f1;
   margin:10px; 
   border-radius: 30%;
   box-shadow: 0 5px 15px -5px #00000070;
   color: #3498db;
   overflow: hidden;
   position: relative;
 }
 
 .btn i {
   line-height: 70px;
   font-size: 26px;
   transition: 0.2s linear;
 }
 
 .btn:hover i{
   transform: scale(1.3);
   color: #f1f1f1;
 }
 
 .btn::before {
   content: "";
   position: absolute;
   width: 120%;
   height: 120%;
   background: #3498db;
   transform: rotate(45deg);
   left: -110%;
   top: 90%;
 }
 
 .btn:hover::before {
   animation: aaa 0.7s 1;
   top: -10%;
   left: -10%;
 }
 
 @keyframes aaa {
   0% {
     left: -110%;
     top: 90%;
   }
   50% {
     left: 10%;
     top: -30%;
   }
   100% {
     top: -10%;
     left: -10%;
   }
 }
}
